    {% extends 'resident_punch/base.html' %}
    {% block title %}
    Edit {{resident.first_name}} {{ resident.last_name }}
    {% endblock %}
    {% block content %}
    {% if user.is_authenticated %}
    <h1>
        Hello Administrator we're deleting {{counselor.first_name }} {{counselor.last_name}}
    </h1>
        </br></br>
        <div class="form-group">
            <form method="POST">
                {% csrf_token %}
                <strong>Are you sure?!</strong>
                </br></br>
                <button class="btn btn-secondary"> Delete</button>
            </form>
        </div>
    {% else %}
    <h1> You're not allowed here</h1>
    {% endif %}
    {% endblock %}